/*
MEDIA QUERIES
*/

@media (min-width: 1900px) {
    .carousel .slide-text h2 {
        font-size: 3rem;
    }

    .carousel .slide-text p {
        font-size: 2.2rem;
    }

    .carousel .slide-text span {
        font-size: 1.6rem;

    }

    .carousel .slide-text .slide-buttons a {
        font-size: 1.4rem;

    }

}
@media (max-width: 1280px) {
    .carousel .slide-text {
        top: 5%;
        left: 15%;
    }

    .carousel .slide-text h2 {
        font-size: 2.1rem;
    }

    .carousel .slide-text p {
        font-size: 1.7rem;
    }

    .carousel .slide-text span {
        font-size: 1.2rem;

    }

    .carousel .slide-text .slide-buttons a {
        font-size: 1.1rem;

    }

    .footer_contact .content {
        width: 75%;
    }

    /* GERAL */
    .content {
        width: 90%;
    }

    /* PRODUCTS *//* products => modal */
    .products_modal_content .product .content {
        width: 90%;
    }

    /* PRODUCT *//* product => images */
    .product_image {
        /*width: calc(49% + 75px);*/
        margin: 1% 1% 1% 0;
        width: 48%;
        float: left;

    }

    /* product => info */
    .product_info {
        /*width: calc(49% - 75px);*/
        margin: 1% 0 1% 0;
        width: 48%;
        float: left;
    }

    /* product => images */
    .product_image {
        position: relative;
    }

    .product_image_focus {
        margin-right: 0;
        padding-bottom: 70px;
    }

    .product_image_gallery {
        position: absolute;
        bottom: 0px;
        left: 0;
        padding: 0 3px 0 0;
    }

    .product_image_gallery img {
        display: inline-block;
        width: 90px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .product_image_gallery img:last-child {
        margin-right: 0;
    }

    .categories .products .products_item:nth-of-type(2n+0) {
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    .carousel .slide-text {
        top: 5%;
        left: 15%;
    }

    .carousel .slide-text h2 {
        font-size: 1.8rem;
    }

    .carousel .slide-text p {
        font-size: 1.4rem;
    }

    .carousel .slide-text span {
        font-size: 1.15rem;
    }

    .carousel .slide-text .slide-buttons a {
        font-size: 1rem;
    }

    .about .container .content {
        width: 85%;
    }
    .about .info p{
        font-size: 1.2rem;
    }
    .belt > img {

    width: 24px;
    margin: 14px;
 }

    .footer_contact .content {
        width: 85%;
    }
    .footer .footer_links{
        padding: 0;
    }
}

@media (max-width: 990px) {

    .header_mobile_wrap{
        display: flex;
        align-items: center;
    }

    .header_mobile_logo img{
        max-width: 250px;
    }
    .header_mobile_nav{
        background: transparent;
    }
    .header_mobile_nav ul {
        text-align: right;
    }

    .header_mobile_nav ul li a i {
        color: var(--color-text-one);
        font-size: 2rem;
    }

    .carousel, .products, .workcontrol_filter, .product, .blog-breadcrumps, .not_found{
        margin-top: 95px;
    }

    .news-404 .products{
        margin-top: 0px;

    }

    .carousel .slide-text {
        top: 5%;
        left: 15%;
    }

    .carousel .slide-text h2 {
        font-size: 1.7rem;
    }

    .carousel .slide-text p {
        font-size: 1.3rem;
    }

    .carousel .slide-text span {
        font-size: 0.875rem;
        margin-bottom: 1.2rem;
    }

    .carousel .slide-text .slide-buttons a {
        font-size: 0.875rem;
    }

    .title-section{
        font-size: 1.6rem;
    }

    .about .container .content {
        width: 85%;
    }
    .about .info p{
        font-size: 1.2rem;
    }
    .belt > img {

        width: 24px;
        margin: 14px;
    }

    .footer_contact .content {
        width: 85%;
    }
    .footer .footer_links{
        padding: 0;
    }
    .footer_links ul li{
        margin: 5px 10px;
    }

    .footer .content .extras {
        padding: 20px 8%;    }
    .categories .products .products_item:nth-of-type(2n+0) {
        margin-right: 1.5%;
    }

}

@media (max-width: 860px) {

       .carousel .slide-text h2 {
        font-size: 1.5rem;
    }

    .carousel .slide-text p {
        font-size: 1.1rem;
    }

    .carousel .slide-text span {
        font-size: 0.75rem;
        margin-bottom: 1rem;
    }

    .carousel .slide-text .slide-buttons a {
        font-size: 0.75rem;
    }

    .title-section{
        font-size: 1.5rem;
    }

    .products_item_image .voltage {
        right: 12px;
        top: 50px;
        height: 35px;
    }

    .products_item_image .line {
        height: 35px;
    }

    .about .container .content {
        width: 85%;
    }
    .about .info p{
        font-size: 1rem;
    }
    .belt > img {
        width: 20px;
        margin: 10px;
    }

    .about .dna .dna-list li {
        margin: 25px 0;
    }

    .about .dna .dna-list li p {
           width: 40%;
        min-width: 260px;
        font-size: 1.6rem;
    }

    .about .dna .dna-list li span {
        font-size: 1.1rem;
    }

    .about .dna .dna-list li p:before {
        width: 35px;
    }

    .footer_contact .content {
        width: 90%;
    }

    .footer_contact .form_content input,
    .footer_contact .form_content textarea,
    .footer_contact .form_content ::placeholder
    {
        font-size: 0.875rem;
    }
    .footer_contact .form_content textarea,.footer_contact .form_submit
    {
        height: 134px;
    }

    .footer .footer_links{
        padding: 0;
    }
    .footer_links ul li{
        margin: 5px 10px;
    }

    .footer .content .extras {
        padding: 20px 8%;    }

      .gtco-container{
        padding: 0 5px;
    }

    .gtco-container .col-xs-12{
         padding: 0;
    }


    .htmlchars {

    padding: 30px 1px;
    }
    .single-post .post-settings .post-header > h2 {
    font-size: 1.2em;
}



}


@media (max-width: 768px) {
    .header_mobile_logo img{
        max-width: 200px;
    }
    .carousel, .products, .workcontrol_filter, .product, .blog-breadcrumps, .not_found{
        margin-top: 85px;
    }

    .header_mobile_logo {
        width: 25%;
        margin-left: 10%;
    }

    .carousel .slide-text{
        top: 10px;
    }

    .carousel .slide-text h2 {
        font-size: 1.5rem;
        margin-bottom: 1.2rem
    }

    .carousel .slide-text p {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .carousel .slide-text span {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }

    .carousel .slide-text .slide-buttons a {
        font-size: 0.75rem;
    }

    .title-section{
        font-size: 1.5rem;
    }

    .products_item_image .voltage {
        right: 12px;
        top: 50px;
        height: 35px;
    }

    .products_item_image .line {
        height: 35px;
    }

    .about .container .content {
        width: 85%;
    }
    .about .info p{
        font-size: 1rem;
    }
    .belt > img {
        width: 20px;
        margin: 10px;
    }

    .about .dna .dna-list li {
        margin: 25px 0;
    }

    .about .dna .dna-list li p {
        width: 40%;
        min-width: 260px;
        font-size: 1.6rem;
    }

    .about .dna .dna-list li span {
        font-size: 1.1rem;
    }

    .about .dna .dna-list li p:before {
        width: 35px;
    }

    .footer_contact .content {
        width: 80%;
    }

    .footer_contact .form_content input,
    .footer_contact .form_content textarea,
    .footer_contact .form_content ::placeholder
    {
        font-size: 0.875rem;
    }
    .footer_contact .form_content textarea,.footer_contact .form_submit
    {
        height: 134px;
    }

    .footer .footer_links{
        padding: 0;
    }
    .footer_links ul li{
        margin: 5px 10px;
    }

    .footer .content .extras {
        padding: 20px 8%;    }

    .footer_contact .flex-box {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .footer_contact form{
        flex-basis: 100%;
    }

    .footer_contact form .row {
        margin: 0;
        align-items: stretch;
        justify-content: space-between;

    }

    .footer_contact .falecom {
        width: 250px;
        height: 265px;
        margin-top: 50px;

    }
    .footer_contact .falecom .whats {
        left: 32px;
        top: 115px;
        font-size: 1.45rem;
    }

    .footer_contact .falecom .mail {
        left: 28px;
        top: 155px;
        font-size: 0.985rem;
    }

    .product .product_main {
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }

    .product .product_main .product_info {
        width: 80%;
        margin: 2rem auto;
        padding-left: 0px;
    }


    .product .product_main .product_info header h3 {
        color: var(--color-text-one) !important;
        font-size: 1.6rem !important;
        font-weight: bold;
        letter-spacing: 0.02rem;
        margin: 0 0 1.5rem 1.5rem;
    }

    .product .product_main .product_info .manual img {
        height: 50px;
        width: auto;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    /* product => images */
    .product .product_image {
        margin: 10px auto;
        width: 80%;
    }



  }


@media (max-width: 550px) {

    .header_mobile_logo img{
        max-width: 180px;
    }

    .carousel, .products, .workcontrol_filter, .product, .blog-breadcrumps, .not_found{
        margin-top: 80px;
    }


    .carousel .slide-text{
        top: 15px;
    }

    .carousel .slide-text h2 {
        font-size: 1rem;
        margin-bottom: 0.5rem
    }

    .carousel .slide-text p {
        font-size: 0.785rem;
        margin-bottom: 3px;
    }

    .carousel .slide-text span {
        font-size: 0.675rem;
        margin-bottom: 5px;
    }

    .carousel .slide-text .slide-buttons a {
        font-size: 0.575rem;
        padding: 4px 8px;
    }

    .title-section{
        font-size: 1.5rem;
    }

    .products_item_image .voltage {
        right: 12px;
        top: 50px;
        height: 35px;
    }

    .products_item_image .line {
        height: 35px;
    }

    .about .container .content {
        width: 85%;
    }
    .about .container .content .flex-box {
        flex-direction: column;
    }

    .about .info, .about .image{
        width: 90%;
        margin: 0 auto;
    }
    .about .info p{
        font-size: 1.2rem;
    }
    .belt > img {
        width: 16px;
        margin: 8px;
    }

    .about .dna .dna-list li {
        margin: 25px 0;
        flex-direction: column;
    }

    .about .dna .dna-list li p {
        width: 100%;
        min-width: 260px;
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .about .dna .dna-list li span {
        font-size: 1.2rem;
    }

    .about .dna .dna-list li p:before {
        width: 35px;
    }

    .footer_contact .content {
        width: 80%;
    }

    .footer_contact .form_content input,
    .footer_contact .form_content textarea,
    .footer_contact .form_content ::placeholder
    {
        font-size: 0.875rem;
    }
    .footer_contact .form_content textarea
    {
        height: 134px;
    }

    .footer_contact .flex-box {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .footer_contact form{
        flex-basis: 100%;
    }

    .footer_contact form .row {
        margin: 0;
        flex-direction: column;

    }

    .footer_contact .form_content,
    .footer_contact .form_content label{
        width: 100%;
        margin: 0;
    }

    .footer_contact .form_submit{
        width: 100%;
        height: 50px;
    }

    .footer .content .row{
        flex-direction: column;
    }
    .footer .footer_links{
        padding: 0;
    }
    .footer_links ul li{
        margin: 5px 12px;
    }

    .footer .content .extras {
        padding: 20px 8%;
        flex-direction: column;
    }

    .footer .footer_copy .content{
        display: flex;
        flex-direction: column;
    }

    .footer .footer_copy .content a{
        margin-top: 30px;
    }

    .footer_copy .content p {
        flex-basis: 100%;
        padding-left: 0;
    }

    .footer_copy .content a{
        text-align: center;
        flex-basis: 100%;
        margin-top:30px;
    }

        .categories .products .products_item {
        width: 90%;
        margin: 2rem auto;
    }

    /* product => images */
    .product .product_image {
        margin: 10px auto;
        width: 90%;
    }

    .product_image_gallery img {
        width: 70px;
    }

    .blog-categories .blog-articles,
    .blog-categories .blog-sidebar
    {
        width: 100%;
        padding:0;
        margin-bottom: 50px;
    }

    .not_found .content h2,.not_found .content h3{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 1.5rem;
    }
}


@media (max-width: 520px) {

    /* footer => links */
    .footer_links ul {
        padding: 0 20px 20px 20px;
    }

    .footer_links ul {
        display: flex;
        flex-direction: column;
    }

    .footer_links ul li {
        margin: 15px 30px;
        text-align: center !important;
    }
    .footer_about_social{
        display: grid;
    }
    .footer_about_social a{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

}

@media (max-width: 425px) {

    .header_mobile_nav ul li a i {
        color: var(--color-text-one);
        font-size: 1.2rem;
    }

    .carousel, .products, .workcontrol_filter, .product, .blog-breadcrumps, .not_found{
        margin-top: 80px;
    }

    .carousel .slide-text {
        top: 20px;
        left: 30px
    }

    .carousel .slide-text h2 {
        font-size: 1.4rem
    }

    .carousel .slide-text p {
        font-size: 1.2rem
    }

    .carousel .slide-text span {
        font-size: 1rem
    }
    .carousel .slide-text .slide-buttons a {
        font-size: 0.975rem;
        padding: 8px 16px;
    }

    .not_found .content {
        width: 95%;
        /* padding-top: 200px; */
    }

    .not_found .content h2, .not_found .content h3 {
        width: 100%;
        text-align: center;
    }

    /*
    PRODUCTS
    */
    .products_wrap {
        width: 85%;
        margin: 0 auto;
    }

    .footer_contact .form_content {
        width: 100%;
        display: inline-block;
        float: none;
        margin: 0;
    }

    .categories .products .products_item {
        width: 100%;
        margin: 2rem auto;
    }


    .product_image_focus .voltage {
        right: 8px;
        top: 8px;
        height: 40px;
    }

    .product_image_focus .line {
        left: 8px;
        top: 8px;
        height: 40px;
    }

    .product_image_focus .zoom-plus {
        right: 5px;
        bottom: 95px;
        width: auto;
        height: 20px;
    }

    .product .product_main .product_info {
        width: 90%;
    }

    .product .product_info_heading h1{
        font-size: 1.4rem;
    }
    .product .product_main .product_info header h3 {
        font-size: 1.4rem !important;
    }
    .htmlchars h5{
        font-size: 1.2rem;
    }
    .product .product_main .product_info .manual img {
        height: 45px;
    }

    /* product => images */
    .product .product_image {
        margin: 10px auto;
        width: 95%;
    }
    .product_image_gallery img {
        width: 60px;
    }


}
@media (max-width: 350px) {
    .header_mobile_logo img{
        max-width: 150px;
    }
    .one_input_field {
        padding: 8px 12px;
        font-size: 1.3rem;
    }

    .carousel, .products, .workcontrol_filter, .product, .blog-breadcrumps, .not_found{
        margin-top: 75px;
    }

    .carousel .slide-text {
        top: 20px;
        left: 30px
    }

    .carousel .slide-text h2 {
        font-size: 1.3rem
    }

    .carousel .slide-text p {
        font-size: 1.1rem
    }

    .carousel .slide-text span {
        font-size: 0.975rem
    }
    .carousel .slide-text .slide-buttons a {
        font-size: 0.875rem;
        padding: 6px 12px;
    }

    .product .product_main .product_info {
        width: 95%;
    }

    .product .product_info_heading h1{
        font-size: 1.4rem;
    }
    .product .product_main .product_info header h3 {
        font-size: 1.3rem !important;
    }
    .htmlchars h5{
        font-size: 1.1rem;
    }
    .product .product_main .product_info .manual img {
        height: 45px;
    }

    /* product => images */
    .product .product_image {
        margin: 10px auto;
        width: 97%;
    }

}


/*550px*/
@media (min-width: 34.375em) {

    .products_wrap {
        width: 100%;
    }

    .products_modal {
        height: calc(100vh - 51px);
    }

    .force_login {
        height: calc(100vh - 51px);
        top: 51px;
    }

    .categories .products .products_item {
        display: inline-block;
        vertical-align: top;
    }
     .categories .products .products_item {
        width: 48%;
        margin: 1% 2% 1% 0;
    }

    .categories .products .products_item:nth-of-type(2n+0) {
         margin-right: 0;
    }



}

/*550px and 849px*/
@media (min-width: 34.375em) and (max-width: 53.0625em) {

    .categories .products .products_item {
        width: 48%;
        margin: 1% 2% 1% 0;
    }

    .categories .products .products_item:nth-of-type(2n+0) {
        margin-right: 0;
    }

    .footer_contact .form_submit {
        font-size: 1.1em;
    }

    .footer_about_company {
        flex-direction: column;
    }

}

/*850px*/
@media (min-width: 53.125em) {

    .products .owl-nav {
        display: flex;
        justify-content: space-between;
        /* width: 125px; */
        top: calc(50% - 30px);
        right: 0;
    }

    .products .owl-nav .owl-prev,
    .products .owl-nav .owl-next {
        flex-basis: 60px;
        height: 60px;
        position: initial;
        font-size: 3em;
    }

    .products .owl-nav .owl-prev {
        margin-left: -60px;
    }

    .products .owl-nav .owl-next {
        margin-right: -60px;
    }

}

/*850px and 991px*/
@media (min-width: 53.125em) and (max-width: 61.9375em) {
       .categories .products .products_item {
        width: 32%;
        margin: 1% 1.5% 1% 0;
    }

    .categories .products .products_item:nth-of-type(3n+0) {
        margin-right: 0;
    }
}

/*992px and 1099px*/
@media (min-width: 62em) and (max-width: 68.6875em) {

    .categories .products .products_item {
        width: 48%;
        margin: 1% 2% 1% 0;
    }

    .categories .products .products_item:nth-of-type(2n+0) {
        margin-right: 0;
    }
}

/*992px*/
@media (min-width: 62em) {


    .header_mobile {
        display: none;
    }

    .header_desktop {
        display: block;
        position: relative;
    }


    .products_modal {
        height: 100vh;
    }

    .products_modal_content .product {
        max-height: 100%;
    }

    .products_modal_content .product::-webkit-scrollbar {
        width: 10px;
    }

    .products_modal_content_close.modal_pdt_mobile {
        display: none;
    }

    .products_modal_content_close.modal_pdt_desktop {
        display: flex;
    }


    .product_info_heading h1 {
        font-size: 1.5em;
        font-weight: 300;
    }

    .product_footer_description {
        max-height: none;
        overflow-y: visible;
        padding-right: 0;
    }


    .force_login {
        height: 100vh;
        top: 0;
    }

    .categories .products {
        padding: 0 20px;
    }
}

/*1100px*/
@media (min-width: 64em) {
    /*404*/
    .not_found .content {
        width: 80%;
        /* padding-top: 70px; */
    }

    .not_found .content h2, .not_found .content h3 {
        width: 48%;
    }
}

/*1100px*/
@media (min-width: 68.75em) {
    /*404*/
    .not_found .content {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .not_found .content h2, .not_found .content h3 {
        width: 48%;
    }

    /*
    CATEGORIES
    */


    /*
    WISHLIST
    */
    .wishlist .products .products_item {
        width: 24.25% !important;
        margin: 1% 1% 1% 0 !important;
    }

    .wishlist .products .products_item:nth-of-type(4n+0) {
        margin-right: 0 !important;
    }

    /*
    COMBO
    */
    .combo .products .products_item {
        width: 24.25% !important;
        margin: 1% 1% 1% 0 !important;
    }

    .combo .products .products_item:nth-of-type(4n+0) {
        margin-right: 0 !important;
    }
}

.carousel {
    position: relative;
}

.carousel-box {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.carousel.pointer-event {
    touch-action: pan-y
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-inner:after {
    display: block;
    clear: both;
    content: ""
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .carousel-item {
        transition: none
    }
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block
}

.active.carousel-item-right, .carousel-item-next:not(.carousel-item-left) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.active.carousel-item-left, .carousel-item-prev:not(.carousel-item-right) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none
}

.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1
}

.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s .6s
}

@media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
        transition: none
    }
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #ffffff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease
}

@media (prefers-reduced-motion: reduce) {
    .carousel-control-next, .carousel-control-prev {
        transition: none
    }
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffffff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease
}

@media (prefers-reduced-motion: reduce) {
    .carousel-indicators li {
        transition: none
    }
}

/*.carousel-indicators .active {opacity: 1}

.carousel-caption {position: absolute;right: 15%;bottom: 20px;left: 15%;z-index: 10;padding-top: 20px;padding-bottom: 20px;color: #ffffff;text-align: center}

.justify-content-center {justify-content: center !important; padding-left: 15%}

section#timeline {z-index: 2}

section#timeline, section#timeline .container {position: relative}

section#timeline .carousel-control-next-icon, section#timeline .carousel-control-prev-icon {height: auto;width: auto;background: none;cursor: pointer}

section#timeline .carousel-control-next, section#timeline .carousel-control-prev {height: 53px;width: 31px;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);opacity: 0.5}

section#timeline .carousel-control-next:hover, section#timeline .carousel-control-prev:hover {opacity: 1; transition: opacity ease-in-out .6s;}

section#timeline .carousel-control-next svg, section#timeline .carousel-control-prev svg {cursor: pointer}

section#timeline .carousel-indicators {display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;align-items: flex-start;justify-content: center;position: relative}

section#timeline .carousel-indicators li {height: 15px;width: 15px;border-radius: 50%;color: #d9d9d9;background-color: #d9d9d9;margin-left: 40px;text-indent: 0;position: relative;opacity: 1;margin-right: 0;}

section#timeline .carousel-indicators li span {position: relative;top: 15px;left: -50%;}

section#timeline .carousel-indicators li:before {content: "";display: block;position: absolute;height: 1px;width: 40px;background-color: #d9d9d9;right: 15px;top: 7px}

section#timeline .carousel-indicators li:first-child {margin-left: 0}

section#timeline .carousel-indicators li:first-child:before {display: none}

section#timeline .carousel-indicators li:hover .timeline__preview {opacity: 1}

section#timeline .carousel-indicators .active {color: #cc3233;background-color: #cc3233}

section#timeline .timeline__content {background-image: url('images/bg/bg-timeline.jpg');background-repeat: no-repeat;background-size: cover;background-position: top;padding-top: 40px;color: #ffffff;height: 350px}

section#timeline .timeline__content .titleInternal {color: #ffffff;margin: 0}

section#timeline .timeline__iten {display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;align-items: normal;justify-content: normal;margin-top: 40px}

section#timeline .timeline__text {margin-left: 30px}

section#timeline .timeline__indicators {margin-top: 90px;margin-bottom: 110px}

section#timeline .timeline__year {font-size: 48px;font-size: 3rem;font-family: Branding-Medium;margin-bottom: 15px;margin-top: 50px}

section#timeline .timeline__year span {}

section#timeline .timeline__preview {font-size: 14px;font-size: .875rem;border-radius: 8px;transition: all .3s linear;width: 204px;color: #ffffff;position: absolute;background: #cc3233;left: -94px;top: 55px;padding: 15px 20px;text-align: center;line-height: 16px;opacity: 0}

section#timeline .timeline__preview:before {content: "";display: block;position: absolute;width: 0;height: 0;border-left: 18px solid transparent;border-right: 18px solid transparent;border-bottom: 18px solid #cc3233;margin-bottom: -7px;top: -18px;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%)}*/

@media (max-width: 1199px) {
    section#timeline .timeline__content {
        height: 410px
    }
}

@media (max-width: 991px) {
    section#timeline .timeline__year {
        font-size: 36px;
        font-size: 2.25rem
    }

    section#timeline .timeline__content {
        height: auto;
        padding-bottom: 40px
    }

    section#timeline .timeline__indicators {
        display: none
    }

    section#timeline .timeline__preview {
        padding: 10px 15px
    }
}

@media (max-width: 767px) {
    section#timeline .timeline__content {
        padding: 30px 0;
        text-align: center;
        background-color: #4377b0;
        background-image: none
    }

    section#timeline .timeline__iten {
        margin-top: 30px;
        padding: 0 35px;
        flex-direction: column
    }

    section#timeline .timeline__text {
        margin-left: 0
    }

    section#timeline .timeline__year {
        font-size: 24px;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-bottom: 10px
    }

    section#timeline .timeline__indicators {
        margin-top: 30px;
        margin-bottom: 40px
    }

    section#timeline .carousel-control-next {
        right: 15px
    }

    section#timeline .carousel-control-prev {
        left: 15px
    }

    section#timeline .carousel-indicators li {
        margin-left: 20px
    }

    section#timeline .carousel-indicators li:before {
        width: 20px
    }

}
