@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'Alkatra', cursive;
    --first-color: #00EEFF;
    --second-color: #1F242D;
    --third-color: #2C4766;
    --main-color: #0ef;
    --text-color: #fff;
    --bg-color: #0A0B0E;
    --second-bg-color: #323946;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    font-size: 16px;
}

body {
    background-color: var(--second-color);
    font-size: 1em;
    min-height: 100vh;
    color: var(--text-color);
}

section {
    min-height: 100vh;
    color: var(--text-color);
    padding: 50px 10%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.3em;
}

 span{
     font-size: 1em;
 }

.text-first-color {
    color: var(--first-color);
}

.heading {
    text-align: center;
    font-size: 3em;
}
.heading > span {
    font-size: 1em;
    color: var(--first-color)
}
/*##############
### #1.HEADER/MENU
### #2.HOME
### #3.ABOUT
### #4.SKILLS
### #5.PORTFOLIO
### #6.CONTACT
### #7.BLOG
############### */

/* #1.HEADER/MENU */
.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    /* background-color: var( --second-color); */
    z-index: 2;
}

.logo {
    font-size: 1.6em;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 1.2em;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    cursor: pointer;
    transition: ease-in .5s;
    animation: slideTop .7s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--first-color);
}

/* #2. HOME */
.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 70px 10%;
    margin-top: 50px;
}

.home-content {
    max-width: 50vw;
    color: #FFFFFF;
}

.home-content h1 {
    font-size: 3em;
    font-weight: 700;
    font-family: var(--font-family-secondary);
}

.home-content h3 {
    font-size: 2em;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3>span {
    color: var(--first-color);
    font-size: 1em;
}

.home-content h3:nth-of-type(2) {
    margin: 0 0 30px 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content p {
    font-size: 1em;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.btn {
    background: var(--first-color);
    color: var(--second-color);
    border-radius: 40px;
    padding: 12px 28px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .5s ease;
    box-shadow: 0 0 5px var(--first-color), inset 0 0 10px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.btn:hover {
    box-shadow: 0 0 10px var(--first-color), inset 0 0 10px 5px var(--first-color);
}

.social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--first-color);
    color: var(--first-color);
    text-decoration: none;
    transition: ease .5s;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: var(--first-color);
    color: var(--second-color);
    text-shadow: -1px -1px 3px 5px rgba(0, 0, 0, .4);
    box-shadow: 0 0 15px var(--first-color);
}

.home-img {
    width: 30vw;
}

.home-img img {
    width: 100%;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

/* LOGIN PAGE */
.animation-circle {
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-circle span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background-color: var(--first-color);
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i)*(3s / 50));
}

.login-box {
    width: 100vw;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
}

.login-box form {
    position: absolute;
    width: 30vw;
    padding: 0 50px;
    z-index: 9999;
}

.login-box form h1 {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: var(--first-color);
}

.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    border: 2px solid var(--third-color);
    outline: none;
    border-radius: 40px;
    transition: ease .5s;
    font-size: 1em;
    color: #FFFFFF;
    padding: 0 20px;
    height: 40px;
    background-color: var(--second-color);
}

.input-box input:focus,
.input-box input:valid {
    border-color: var(--first-color);
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #FFFFFF;
    pointer-events: none;
    transition: ease .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: 0.8em;
    background-color: var(--second-color);
    padding: 0 6px;
    color: var(--first-color);
}

.input-box:nth-of-type(1) {
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.input-box:nth-of-type(2) {
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
}

.forgot-pass a {
    font-size: .85em;
    color: #FFFFFF;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline
}

.login-box form .btn {
    width: 100%;
    font-size: 1.2em;
}

.signup-link {
    margin: 20px 0 10px;
    text-align: center;
}

.signup-link a {
    font-size: 1.1em;
    color: var(--first-color);
    text-decoration: none;
    font-weight: 500;
}

.signup-link a:hover {
    text-decoration: underline;
    text-shadow: -2px -2px 4px rgba(0, 0, 0);
}

/* #3. ABOUT */
.about {
    padding: 50px 10%;
    background: var(--second-bg-color);
}
.about > article{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about > article .about-img {
    width: 32%;
}

.about > article .about-content {
    width: 65%;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2em;
    color: #FFFFFF;
}

.about-content h3 {
    font-size: 2em;
    color: #FFFFFF;
}

.about-content p {
    font-size: 1em;
    margin: 2em 0 3em;
    color: #FFFFFF;
}


/* #4. SKILLS */

.services-container {
    display: flex;
    padding: 2em;
    justify-content: space-around;
    align-items: stretch;
   
    
}

.services-box {
    flex-grow: 0;
    width: 30%;
    min-width: 300px;
    background: var(--second-bg-color);
    padding: 30px;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid rgba(0, 0, 0, 0.5);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 4em;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2em;
}

.services-box p {
    font-size: 1em;
    margin: 10px 0 30px;
}

/* #5.PORTFOLIO */
.portfolio {
    background: var(--second-bg-color);
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin: 20px;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 0 4px 8px var(--second-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .3), var(--second-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 12px;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 1.2em;
}

.portfolio-layer p {
    font-size: 1em;
    margin: 10px 0;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--text-color);
    border-radius: 50%;
    text-decoration: none;
}

.portfolio-layer a i {
    font-size: 1.4em;
    color: var(--second-bg-color);
}
.portfolio-layer a:hover{
    background-color: var(--first-color);
}

.portifolio-category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: var(--second-color);
}
.portifolio-category h3{
    color: #FFFFFF;
    font-size: 1.1em;
    line-height: 30px;
    font-family: var(--font-family-secondary);
    
}
.portifolio-category > i{
    color: var(--first-color);
    font-size: 1.3em;
    margin-right: 8px
    
}

/* #6.CONTACT */
.contact form {
    max-width: 70vw;
    text-align: center;
    margin: 0 auto;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 8px;
    border: 2px solid var(--first-color);
    margin-bottom: 15px;
    outline: none;
}

.contact form input:hover,
.contact form textarea:hover,
.contact form input:focus,
.contact form textarea:focus
{
    box-shadow: 0 0 5px 3px var(--first-color);
}
.contact form input.error,
.contact form textarea.error{
    box-shadow: 0 0 5px 3px red;
    
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}



/* #7.BLOG */

.cta-section{
    margin-top: 100px;
    background-color: var(--first-color);
}
.cta-section .container{
    padding: 2em 6em;
}
.cta-section .container .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cta-section .container .row .cta-text{
    width: 75%;
    display: flex;
    justify-content: flex-start;
}
.cta-section .container .row .cta-text .cta-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: var(--second-color);
}
.cta-section .container .row .cta-text .cta-icon i{
    font-size: 5em;
}
.cta-section .container .row .cta-text .headline-text{
    width: 70%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.headline-text p{
    width: 100%;
    font-size: 1.5em;
    color: var(--second-color);
    font-weight: 400;
}
.headline-text em{font-size: 1em}
.headline-text p span{
    font-size: 0.685em;
    
}


.cta-btn{
    width: 20%;
}
.btn-info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background-color: var(--second-bg-color);
    color: var(--text-color);
}
.btn-info > i {
    margin-right: 5px;
}

.blog-content-section{
    background-color: #FBFBFB;
    color: #333333;
    padding:0;
    
}
.blog-content-section .breadcrumbs{
 background-color: var(--bg-color);
    padding: 0.8em 5em;
    color: whitesmoke;
}
.blog-content-section .breadcrumbs .content{}
.blog-content-section .breadcrumbs a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
.blog-content-section .breadcrumbs a:hover{
    color: var(--first-color);
}

.blog-content-section .container{
    padding: 2em 5em;
}
.blog-content-section .container .row{
    display: flex;
}
.blog-main{
    width: 70%;
    padding: 1em;
}

.blog-main .title{
    font-size: 1.5em;
    margin: 0.5em 0 1.5em;
}
.blog-main .title:after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 25px;
    height: 4px;
    background: #03C4C4;
}
.blog-main .title a {
    text-decoration: none;
    color: var(--second-color);
}


.blog-main .tagline{
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 1.2em;
}
.blog-main .wrap-image .post_list_thumb > img{
    border-radius: 4px;
}

.blog-main .post-body{
    font-size: 1.1em;
    font-weight: 400;
}

.wrap-post-description{
    /* display: flex; */
}

.wrap-post-description .post-avatar{
    width: 100px;
    margin: 5px 5px 5px 10px
}

.wrap-post-description .post-avatar img{
    border-radius: 50%;
    border: 2px inset #90949c ;
    width: 5em;
    transition: all ease .7s;
}
.wrap-post-description .post-avatar img:hover{
    transform: scale(1.5);
    z-index: 2;
}

.wrap-post-description .meta{
    flex-grow: 1;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: auto;
}
.wrap-post-description .meta .meta-item i{
    color: var(--first-color);
    margin: 0 3px;
    font-size: 1.15em;
    
}
.sidebar{
    padding-top: 40px;
    width: 30%;
    height: auto;
    overflow-y: hidden;

}
.sidebar .search_form{
    height: 50px
}
.sidebar .search_form label{ width: 100%; display: flex; }
.sidebar .search_form label input{
   flex-grow: 1;
    border-radius: 4px 0 0 4px;
    border: 1px solid #9999;
    border-right-color: transparent;
    outline:none;

}
.sidebar .search_form label input:focus{border-color: var(--second-color);  border: 2px solid var(--second-color);border-right-color: transparent;}
.sidebar .search_form label button{
    flex-grow: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 50px;
    height: 50px;
    border:none;
    border-radius: 0 4px 4px 0;
    background-color: var(--second-color);
    color: var(--first-color);
    cursor: pointer;
    transition: all ease .5s;
    
}
.sidebar .search_form label button i{font-size: 1.4em;}
.sidebar .search_form label button:hover{
    background-color: var(--first-color);
    color: var(--second-color);
}

.sidebar .sidebar-box{
    margin-top: 15px;
    border: 1px solid #f4f4f4;
    padding: 1em;
    animation: slideBottom .8s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.sidebar .sidebar-box h5{
    font-size: 1.3em;
    margin-bottom: 12px;
}
.sidebar .sidebar-box h5:after {
    content: '';
    display: block;
    margin-top: 10px;
    width: 25px;
    height: 4px;
    background: #03C4C4;
}

.sidebar-box a{
    text-decoration: none;
    color: #333333;
}
.sidebar-box a:hover{
    color: var(--first-color);
    transition: all ease .5s;
}

.sidebar-box-content .category-list .session a{
    font-weight: 600;
    font-size: 1.2em;
}
.sidebar-box-content .category-list .category a{
    font-weight: 400;
    font-size: 1em;
    padding-left: 10px;
}

.list-tags{ display:flex; flex-wrap:wrap;}
.list-tags li{
     margin: 0.2em;
    flex-grow: 1;
   
}

.list-tags a:hover, .list-tags a:active{
    background-color: var(--bg-color);
}

.list-tags a h6{
    padding: 10px 15px;
    border: 1px solid var(--first-color);
    border-radius: 6px;
   
}


/* #8.FOOTER */

.footer{
    padding-top: 30px;
    background-color: var(--bg-color)  ;
}
.footer .social-media{
    justify-content: center;
    text-align: center;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.5s;
}
.footer .copyright-section{
    text-align: center;
    padding: 20px;
    background-color: #000000;
}
.footer .copyright-section a{
    color: var(--first-color);
    text-decoration: none;
    transition: ease .5s;
}
.footer .copyright-section a:hover{
    text-decoration: underline;
}


/*.#########################
### KEYFRAMES ANIMATION ####
#########################.*/

@keyframes animateBlink {
    0% {
        background-color: var(--first-color);
    }

    25% {
        background-color: var(--third-color);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomImg {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}
